/* styles.css
.quantity-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.quantity-label {
  margin-right: 10px;
}

.quantity-input {
  width: 50px;
  margin-right: 10px;
  font-size: 16px;
} */
